<div class="w-full text-right p-4">
  Already a member? <%= link_to "Sign in", new_session_path(resource_name), class: "text-blue-500 text-right" %><br />
</div>
<div class="flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8 p-6">
    <h2 class="mt-6 text-2xl font-extrabold">Sign up to Kuira</h2>
    <div>
      <% if notice %>
        <div class="bg-blue-100 rounded border border-blue-500 text-blue-700 px-4 py-3" role="alert">
          <p class="text-sm"><%= notice %></p>
        </div>
      <% end %>
      <% if alert %>
        <div class="bg-blue-100 rounded border border-blue-500 text-blue-700 px-4 py-3" role="alert">
          <p class="text-sm"><%= alert %></p>
        </div>
      <% end %>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="py-2">
        <%= f.label :name, class: "font-bold" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "w-full" %>
      </div>

      <div class="py-2">
        <%= f.label :email, class: "font-bold" %><br />
        <%= f.email_field :email, autocomplete: "email", class: "w-full" %>
      </div>

      <div class="py-2">
        <%= f.label :password, class: "font-bold" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "w-full" %>
      </div>

      <div class="py-2">
        <%= f.label :password_confirmation, class: "font-bold" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full" %>
      </div>

      <div class="py-2">
        <%= f.submit "Sign up", class: "bg-red-500 text-white p-2 rounded hover:cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>


