
<div class="w-full text-right p-4">
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    Not a member? <%= link_to "Sign up now", new_registration_path(resource_name), class: "text-blue-500 text-right" %><br />
  <% end %>
</div>
<div class="flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8 p-6">
    <h2 class="mt-6 text-2xl font-extrabold">Sign in to Kuira</h2>
    <div>
      <% if notice %>
        <div class="bg-blue-100 rounded border border-blue-500 text-blue-700 px-4 py-3" role="alert">
          <p class="text-sm"><%= notice %></p>
        </div>
      <% end %>
      <% if alert %>
        <div class="bg-blue-100 rounded border border-blue-500 text-blue-700 px-4 py-3" role="alert">
          <p class="text-sm"><%= alert %></p>
        </div>
      <% end %>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="py-2">
        <%= f.label :email, class: "font-bold" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full" %><br/>
      </div>
      <div class="py-2">
        <%= f.label :password, class: "font-bold" %>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-blue-500 text-right text-xs" %>
        <% end %>
        <br />

        <%= f.password_field :password, autocomplete: "current-password", class: "w-full" %><br/>
      </div>
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %><br/>
      <% end %>
      <div class="py-2">
        <%= f.submit "Log in", class: "bg-red-500 text-white p-2 rounded hover:cursor-pointer"  %>
      </div>
    <% end %>
  </div>
</div>